body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}
h1 {
    text-align: center;
}
#notas {
    max-width: 600px;
    margin: 0 auto;
}
input[type="text"], select, button {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.prioridad-baja {
    background-color: lightblue;
  }
  
  .prioridad-media {
    background-color: lightgreen;
  }
  
  .prioridad-alta {
    background-color: lightcoral;
  }
  
  /* Estilo para el botón activo */
  button.active {
    font-weight: bold;
  }